body {
	background-color: #CED6B9;
	color:#3D3D3D;
	font-family:Verdana, Geneva, sans-serif;
}

#micrositePage {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	background-color: #FFF;
	padding-top:15px;
	padding-bottom:15px;
	font-size:12px;
	font-weight:400;
	line-height: 1.4em;
}

#micrositeContainer, #micrositeFooter {
	width:870px;
	margin-left:auto;
	margin-right:auto;
}

#micrositeContainer {
	background-color: #F7F7F7;
}

#micrositeFooter {
	margin-top:20px;
	font-size:0.8em;
}

#micrositeFooter p {
	text-align: center;
	color:#3F5234;
}

#micrositePage a {
	color:#333;
	text-decoration:none;
}

#micrositePage a:hover, #micrositePage a:focus {
	color:#5480BB;
	text-decoration:underline;
}

#micrositeFooter a {
	color:#3F5234;
}

#micrositeFooter a:hover, #micrositeFooter a:focus {
	color:#3F5234;
}

.micrositeHeaderWidget {
	position:relative;
	background-color:transparent;
	background-image:url("/e2/rv5_images/features/moh_sabo/moh_sabo_banner.jpg");
	background-repeat:no-repeat;
	height:300px;
	text-indent: -9999px;
}

.micrositeHeaderWidget a {
	position:absolute;
	top:210px;
	right:15px;
	bottom:-201px;
	left:15px;
	width: 65px;
	height: 81px;
}

.micrositeFacebookLikeWidget {
    margin-left: 5px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.micrositefacebookLike {
    float: left;
    height: 20px;
    padding: 0 !important;
    width: 77px !important;
}
.micrositeTwitter {
    float: left;
    height: 20px;
    margin-left: 15px;
    padding: 0 !important;
    width: 83px !important;
}
.micrositegooglePlus {
    float: left;
    height: 20px;
    margin-left: 15px;
    padding: 0 !important;
    width: 59px !important;
}


.micrositeTextWidget:first-letter {
	color: #788760;
    float: left;
    font-family: Times,serif,Georgia;
    font-size: 70px;
    line-height: 50px;
    padding-right: 5px;
}
.micrositeTextWidget p:first-letter {
    color: #788760;
    float: left;
    font-family: Times,serif,Georgia;
    font-size: 70px;
    line-height: 50px;
    padding-right: 5px;
}
/*.micrositeTextWidget{
	text-indent:20px;
}*/
.micrositeTextWidgetSmall {
     margin-top: 15px;
}

.micrositeTextWidgetDisclaimer {
     margin-top: 15px;
	 font-size: 7px;
}



#micrositePage h2 {
	background: none repeat scroll 0 0 #3f5234;
	clear: both;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 900;
    margin-top: 20px;
    padding: 5px 0 6px 12px;
    text-transform: uppercase;
}

#micrositeLeftCol {
	padding: 10px;
	width: 580px;
}

#micrositeRightCol {
	padding: 4px;
}

#micrositePage .rightSection {
	border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    margin-bottom: 20px;
    padding: 12px;
}

.micrositeLinkBoxWidget li {
    margin-bottom: 7px;
}

.micrositeSocialMedaWidget a {
	margin:0 0 8px 6px;
}

.storyBlock { 
	margin: 0;
	clear:both;
}
.leftPane {
	float:left;
	width:150px;
	margin:0;
	margin-right:5px;
	padding:0;
	margin-bottom:15px;
}
.leftPane img { border:1px solid #414034;}
.rightPane {
	float:right;
	width:410px;
}
.rightPane a { text-decoration:none; font-weight: bold;}
.rightPane h3 { font-size:1.3333em; margin:0 0 .5em 0;}
.rightPane p{ padding-right: 10px; }

.subContent{ margin-left: 12px;}
	.storyBlock, .storyBlock1 { 
		width: 578px;
		background: url(/e2/rv5_images/leaderstour/storyBlock_gradient.jpg) repeat-x bottom center;
		border-bottom: 1px solid #B3B3B3;
		border-right: 1px solid #B3B3B3;
		border-left: 1px solid #B3B3B3;
		clear: both;
		float: left;
		padding-bottom: 0px;
		padding-top: 15px;
	}
	.storyBlock1 li{padding:1px 1px 5px 10px;}
	.storyBlock h3 a, .storyBlock1 h3 a {text-decoration: none;  outline: 0; font-size: 15px; font-weight: bold;}
	.storyBlock h3 a:hover, .storyBlock h3 a:focus, .storyBlock1 h3 a:hover, .storyBlock1 h3 a:focus {text-decoration: underline;}
	.storyBlock .left, .storyBlock1 .left {float: left;}
	.storyBlock img, .storyBlock1 img { margin-left: 5px; }
	.storyBlock .right, .storyBlock1 .right { width: 400px; float: right; }
	.leaderImage, .leaderText { float: left;}
	.leaderImage {
		margin-right: 10px;
		width: 52px;
	}
	.leaderText { width: 175px; font-size: 12px;}
	a.subLink{
		font-size: 10px;
		font-weight: lighter;
	}
	.archives{
		float:right;
		margin-top:10px;
		text-align:right;
		width:578px;
	}

#archives{
	background: url(/e2/rv5_images/features/more_stories.png) no-repeat;
	text-align:center;
	border: none;
	height: 35px;
	display: block;
	text-indent: -9999px;
	clear:both;
	margin-bottom: 10px;
	position: relative;
	top: 13px;
}
#archives:hover, #archives:focus { background-position: 0 -35px;}

.micrositeSocialMedaWidget {
    margin: 20px 0 0 0;
}

.micrositeSocialMedaWidget a {
	margin:0 0 8px 6px;
}

.micrositeSocialMedia_001 {
	background: none !important;
    border-top: none !important;
    font-family: Helvetica,Arial,sans-serif !important;
}
.micrositeSocialMedia_001 p {
    text-shadow: none !important;
}
.micrositeSocialMedia_001 p.title {
    background: none repeat scroll 0 0 #3F5234;
    font-family: helvetica,arial,sans-serif !important;
    font-size: 13px !important;
    font-weight: bold;
    padding: 5px !important;
    text-align: left;
    text-transform: uppercase;
}
.micrositeSocialMedia_001 .icons {
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
	padding: 12px 0 !important;
}

.micrositeSocialMedia_001 .icons img {
    border: medium none !important;
    margin: 0 !important;
}
.micrositeSocialMedia_001 .button {
    border: 1px solid #B3B3B3 !important;
    margin: 7px 0 0 -1px !important;
}
.micrositeSocialMedia_001 .button a {
    border: medium none !important;
	width: 100% !important;
}
.micrositeSocialMedia_001 .button a:hover, .micrositeSocialMedia_001 .button a:focus {
    background: none repeat scroll 0 0 transparent !important;
}

.micrositeVideoPlayerSmallWidget{
	margin: 0px;	
	}

.promoImage{
	margin-top: 20px;
	}

.headerStar{ background: url("/e2/rv5_images/features/army_star_pos.png") no-repeat; }

.micrositeImagesWidget{
	margin-top: 25px;	
	}




/*#archives {
	clear:both;
}
#archives a {
	font-size: 25px;
}*/
#flickr_badge_uber_wrapper {text-align:center; width:189px; margin: 0 auto;}
#flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
#flickr_badge_wrapper {text-align: center; padding:6px;}
#flickr_badge_wrapper { text-align: center; background-color:#fff;border: solid 1px #3d3d3d}
.flickr_badge_image {width: inherit;  margin: 0;}
.flickr_badge_image img { text-align: center; float: left; margin: 5px; border: 1px solid grey !important;}
#flickr_badge_source {clear: both; text-align:left; margin:10px 10px 0 5px;}
#flickr_badge_icon {}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:focus,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666 !important;}